{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/pet-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ pet.name }}</h1>
    <p>{{pet.parent1}}</p>
    <p>{{pet.parent2}}</p>
    <p>{{pet.insta}}</p>
    <p>{{pet.phone_number}}</p>
      {% if pet.play_date %}
    <p>Down for a playdate!</p>
      {% endif %}
    <p>{{pet.email}}</p>
    <p>{{ pet.description }}</p>
  </div>
</section>

{% endblock %}

{% comment %} name = models.CharField(max_length=100)
  breed = models.CharField(max_length=100)
  description = models.TextField(max_length=250)
  parent1 = models.CharField(max_length=100)
  parent2 = models.CharField(max_length=100)
  insta= models.CharField(max_length=100)
  phone_number = models.IntegerField()
  play_date=models.BooleanField()
  email= models.EmailField(max_length=254)
  user = models.ForeignKey(User, on_delete=models.CASCADE) {% endcomment %}