
{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pet-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Pet List</h1>
  {% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for p in pets %}
    <div class="card">
    <a href="{% url 'pets_detail' p.id %}">
      <div class="card-content">
        <div class="card-img-container">
        {% if p.photo.url %}
        <img 
        src="{{p.photo.url}}" 
        alt="A photo of {{pet.name}}"
        class="usr-img"
      >
      {% else %}
          <img 
            src="{% static 'images/strategic.png' %}" 
            alt="default Logo"
          >
          {% endif %}
        </div>
        <h2 class="card-title">{{ p.name }}</h2>
            <ul>
            <li>{{p.parent1}} </li>
            <li>{{ p.parent2}}</li>
            </ul>
        <p><small>{{ p.description }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}